#main-container{
    width: 1200px;
    margin: auto;
}

#main-container *{
    /* box-sizing: border-box;
    border: 1px solid red; */
}

/* 보이기클래스 */
.invisible{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

/* 타이틀 */
#title{
    margin: 20px 0 10px 0  ;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: var(--serif);
    gap: 10px;
}

#title span{
    color: var(--semi-green);
    font-size: 40px;
}

#title p{
    font-size: 30px;
    font-weight: 600;
}

/* 게임박스 */
#game-box{
    width: 80%;
    height: 600px;
    /* background-color: black; */
    background: url(/dobby/resources/img/event/easy.png);
    background-size: cover;
    padding: 30px;
}

#game-box,
#game-title,
#btn-box,
#main-page, #game-page, #history-page, #ranck-page,
#difficulty-page, #end-page
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
}

#main-page, #game-page, #history-page, #ranck-page, #difficulty-page, #end-page{
    position: absolute;
}

/* 게임타이틀 */
#game-title > h1{
    font-family: var(--ghana);
    font-size: 5em;
    color: white;
}

#game-title > p{
    font-family: var(--serif);
    font-size: 1.5em;
    font-weight: 100;
    color: white;
}

/* 버튼 */
.e-btn{
    margin: 5px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--serif);
    font-size: 2em;
    font-weight: 900;

    width: 500px;
    height: 50px;

    background-color: rgba(255, 255, 255, 0.2);
    color: black;

    border-radius: 0;
    cursor: pointer;
}

.e-btn:hover{
    background-color: rgba(255, 255, 255, 1);
}

.e-btn:hover::after,
.e-btn:hover::before
{
    content: '';
    position: absolute;

    width: 50px;
    height: 50px;

    background: url(/dobby/resources/img/dust2.png);
    background-size: cover;
}

.e-btn:hover::after{
    left: -50px;
}

.e-btn:hover::before{
    right: -50px;
}

/* 히스토리페이지 */
#history-page{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgba(255, 255, 255, 0.8);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    align-items: flex-start;
    padding: 20px;
}

#history-title{
    grid-column: 1/3;
    margin-top: 20px;
}

#history-list{
    height: 400px;
}

#history-best{
    padding: 20px;
}

#history-best > h2{
    padding-bottom: 5px;
    border-bottom: 1px solid var(--semi-green);
}

#history-best > h2,
#history-best > div > div:nth-of-type(1){
    font-weight: 700;
    font-family: var(--serif);
    margin-bottom: 10px;
}

#history-best > div > div:nth-of-type(2){
    font-size: 3em;
    font-family: var(--ghana);
    padding: 10px;
}

#list-title{
    border-bottom: 1px solid  var(--semi-green);
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 2fr 2fr;

    text-align: center;
    padding: 5px;
    font-family: var(--serif);
    font-weight: 700;
    font-size: 0.8em;
}

.history-item{
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 2fr 2fr;
    text-align: center;
    padding: 5px;
    height: 35px;
    align-items: center;
    font-weight: 300;
    font-size: 0.8em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#ranck-title.flex-center, #history-title.flex-center{
    gap: 10px;
    font-size: 2em;
    font-family: var(--ghana);
    color: var(--semi-green);
}


/*랭킹 */
#ranck-page{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;

    background-color: rgba(255, 255, 255, 0.8);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;

    width: 80%;
    height: 80%;

    justify-content: center;
    align-items: center;
    padding: 20px;
}

#ranck-list{
    align-self: flex-start;
}


#r-list-title{
    align-self: flex-start;
    border-bottom: 1px solid  var(--semi-green);
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 3fr 2fr 2fr;

    text-align: center;
    padding: 5px;
    font-family: var(--serif);
    font-weight: 700;
    font-size: 0.8em;
}

#ranck-title span{
    font-size: 1.2em;
}

.ranck-item{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 3fr 2fr 2fr;
    text-align: center;
    padding: 5px;
    align-items: center;
    font-weight: 300;
    height: 35px;
    font-size: 0.8em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#ranck-list > div:nth-of-type(2)::after,
#ranck-list > div:nth-of-type(3)::after,
#ranck-list > div:nth-of-type(4)::after
{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translate(0, -50%);
}

#ranck-list > div:nth-of-type(2),
#ranck-list > div:nth-of-type(3),
#ranck-list > div:nth-of-type(4)
{
    font-weight: 500;
}

#ranck-list > div:nth-of-type(2)::after{
    background: url(/dobby/resources/img/event/001.png);
    background-size: cover;
}

#ranck-list > div:nth-of-type(3)::after{
    background: url(/dobby/resources/img/event/002.png);
    background-size: cover;
}

#ranck-list > div:nth-of-type(4)::after{
    background: url(/dobby/resources/img/event/003.png);
    background-size: cover;
}

/* 난이도 */
#easy:hover{
    box-shadow: 0px 0px 10px 3px rgba(15, 136, 15, 1);
}

#normal:hover{
    box-shadow: 0px 0px 10px 3px rgba(227, 227, 21, 1);
}

#hard:hover{
    box-shadow: 0px 0px 10px 3px rgba(230, 35, 35, 1);
}

/* 게임페이지 */
#game-page{
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: none;
}
#count-down{
    position: absolute;
    color: white;
    font-family: var(--ghana);
    font-size: 7em;
}

.dust{
    position: absolute;
    width: 150px;
    height: 150px;
    /* left: 0;
    top: 0; */
    background-color: rebeccapurple;
    background: url(/dobby/resources/img/event/dust3.png);
    background-size: cover;
}

#cursor{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(/dobby/resources/img/event/마우스.png);
    background-size: cover;
}

.point{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(/dobby/resources/img/event/point.gif);
    background-size: contain;
    background-repeat: none;
}

#score-box{
    position: absolute;
    display: flex;
    gap: 10px;
    font-size: 2em;
    top: 30px;
    left: 700px;
    color: white;
    font-family: var(--ghana);
}

.normal-back{
    background: url(/dobby/resources/img/event/normal.png);
    background-size: cover;
}

.hard-back{
    background: url(/dobby/resources/img/event/hard.png);
    background-size: cover;
}

/* end 페이지 */
#end-page{
    display: flex;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.8);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;

    width: 80%;
    height: 80%;

    justify-content: center;
    align-items: center;
    padding: 20px;
}

#end-page > h1{
    width: 400px;
    font-weight: 600;
    font-family: var(--serif);
    font-size: 2em;
    margin-top: 60px;
    margin-bottom: 20px;
}

#end-page > div:nth-of-type(1){
    font-family: var(--ghana);
    font-size: 5em;
    margin-bottom: 60px;
}

#end-page > div:nth-of-type(2){
    color: var(--semi-green);
    font-size: 1.2em;
    width: 400px;
    justify-content: space-between;
}

#end-page > div:nth-of-type(2) > .btn{
    border: 1px solid var(--semi-green);
}

.back-btn{
    position: absolute;
    left: 20px;
    top: 20px;
}