*{
    font-family: var(--sans);
}
#wrap{
    width: 1200px;
    height: 2400px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
#main-wrap{
    width: 800px;
    height: auto;
    margin: auto;
    margin-top: 0;
}
#main-side{
    position: sticky;
    top: 50px;
    margin-top: 30px;
    margin-left: 15px;
    width: 350px;
    height: 560px;
    background-color: rgb(218, 218, 218);
}
#order-history-wrap{
    margin: auto;
    margin-top: 30px;
    width: 780px;
    height: 310px;
}
#point-discount-wrap{
    margin: auto;
    margin-top: 20px;
    width: 780px;
    height: 150px;
}
#select-payment-wrap{
    margin: auto;
    margin-top: 20px;
    width: 780px;
    height: 270px;
}
#notice-payment{
    margin: auto;
    margin-top: 10px;
    width: 780px;
    height: 330px;
    background-color: rgb(218, 218, 218);
}

/* 사이드 레이아웃 */
#side-payment-text{
    margin: auto;
    margin-top: 30px;
    line-height: 40px;
    font-size: 30px;
    width: 330px;
}
#payment-detail{
    margin: auto;
    margin-top: 10px;
    background-color: white;
    border-bottom: 5px solid rgb(218, 218, 218);
    width: 330px;
    height: 160px;
}
#payment-detail2{
    margin: auto;
    background-color: white;
    width: 330px;
    height: 60px;
}
#payment-agree-div{
    margin: 15px auto;
    width: 330px;
    height: 30px;
    font-size: 13px;
}
input[id="payment-agree-checkbox"]{
    width: 20px;
    height: 20px;
    border: none;
    position: relative;
    top: 5px;
}
label{
    height: 20px;
}

#payment-btn{
    margin-left: 10px;
    width: 330px;
    height: 75px;
    color: white;
    background-color: var(--semi-brown);
    font-size: 30px;
    text-align: center;
    line-height: 73px;
    border-radius: 5px;
}
#cancel-btn{
    margin: 10px auto;
    width: 330px;
    height: 75px;
    color: white;
    background-color: rgb(176, 166, 166);
    font-size: 30px;
    text-align: center;
    line-height: 73px;
    border-radius: 5px;
}
/* 사이드 내용 */
table{
    margin: auto;
    width: 95%;
}
.payment-detail-text{
	padding-left:15px;
    font-size: 20px;
    color: grey;
}
.payment-detail-input{
    font-size: 20px;
    line-height: 70px;
    text-align: right;
}
.payment-detail2-input{
    font-size: 25px;
    line-height: 55px;
    text-align: right;
    font-weight: 800;
}
.text-green{
    color: var(--semi-green);
}

/* 메인 내용 */
.main-h1{
    margin: auto;
    margin-top: 20px;
    font-size: 30px;
    line-height: 50px;
}

#request{
    
    height: 50px;
}
#request-text{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 45px;
    display: inline-block;
}
#request-input{
    display: inline-block;
    width: 600px;
    height: 35px;
}
#request-input>input{
    height: 35px;
    width: 618px;
    border: 1px solid lightgrey;
}
#order-sum{
    border: 3px solid var(--semi-brown);
    height: 70px;
}
#order-sum-text{
    width: 150px;
    height: 70px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 65px;
    display: inline-block;
}
#order-sum-input{
    width: 570px;
    font-size: 25px;
    line-height: 65px;
    text-align: right;
    display: inline-block;
}
#won{
    font-size: 15px;
    line-height: 65px;
    color: grey;
    width: 40px;
    display: inline-block;
}
#point-discount-detail{
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    height: 45px;
}
.inline-block{
    display: inline-block;
}
#point-text{
    font-size: 20px;
    font-weight: 600;
    line-height: 45px;
    width: 150px;
    text-align: center;
    position: relative;
    bottom: 16px;
}
#point-div{
    padding-left: 15px;
    background-color: lightgrey;
    width: 450px;
    height: 46px;
    font-size: 15px;
    line-height: 45px;
}
#point-input-div{
	margin-left:15px;
    width: 200px;
}
#point-div input{
    border: none;
    height: 38px;
    width: 200px;
    position: relative;
    bottom: 1.5px;
    text-align: right;
    vertical-align: middle;
    color: var(--semi-green);
    font-size: 15px;
}


#point-btn{
    margin-left: 30px;
    width: 100px;
    height: 45px;
    background-color: var(--semi-brown);
    color: white;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    position: relative;
    bottom: 17px;

}
table{
    vertical-align: middle;
    text-align: left;
    margin-right: 0;
}
.text-grey{
    color: rgb(96, 96, 96);
}
.select-payment-div{
    border-top: 2px solid lightgrey;
    height: 70px;
}
input[type="radio"]{
    vertical-align: middle;
    appearance: none;
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 2px;   
}
input[type="radio"]:checked{
    border: 0.5em solid var(--semi-green);
}
.select-payment-div:last-child{
    border-bottom: 2px solid lightgrey;
}
.select-payment-text{
    width: 150px;
    height: 70px;
    font-size: 20px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
}
.payment-radio{
    width: 225px;
    margin-left: 20px;
}


#notice-payment>p{
    margin: 10px;
    color: rgb(54, 37, 21);
    font-size: 14px;
    line-height:18px;
}
/* 주문내역 grid */
#reservation-info{
    height: 100px;
    padding: 2px;
    border: 2px solid lightgrey;
    display: grid;
    grid-template-areas: 
    'pic helper service service pay'
    'pic request request date pay';
    grid-template-columns: 1.4fr 2fr 2fr 3fr 1.4fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px;
}
#reserv-info-pic{
    padding: 10px;
    grid-area: pic;
    color: white;
    overflow: hidden;
}
#order-history-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#reserv-info-service{
    grid-area: service;
    border-bottom: 1px solid lightgray;
    font-size: 25px;
    line-height: 50px;
}
#reserv-info-helper{
    grid-area: helper;
    border-bottom: 1px solid lightgray;
    font-size: 25px;
    line-height: 50px;
}
#reserv-info-request{
    grid-area: request;
    font-size: 15px;
    color: gray;
    line-height: 50px;
}
#reserv-info-date{
    grid-area: date;
    font-size: 15px;
    color: gray;
    text-align: right;
    line-height: 50px;
    padding-right: 10px;
}
#reserv-info-pay{
    padding: 10px;
    padding-top: 30px;
    grid-area: pay;
    background-color: lightgray;
    text-align: right;
    font-size: 20px;
}