@charset "EUC-KR";


#point-box{
	width:1000px;
	position:relative;
	left:20%;
	top:28%;
	bottom:0px;
	margin:40px;
}


#text01{
	font-size:40px;
	margin:20px;
}
	
	
#box-table-page{
	width:600px;
	margin:80px;;
}	


.box{
	width:600px;
	height:140px;
	background-color : #ADD9A6;
	border-radius:20px;
}



#box-table-text{
	width:50%;
	float:left;
}

#subtext{
font-size:40px;
color:white;
padding:10px;
}
#subtext2{
font-size:20px;
color:white;
padding:10px;
margin-left:80px;
}
#subtext3{
font-size:20px;
color:white;
padding:10px;
margin-left:80px;
}




#box-table-result{
	width:50%;
	float:right;
}

#box-table-result>#subtext{
font-size:40px;
color:black;
padding:10px;
margin-left:40%;
}
#box-table-result>#subtext2{
font-size:20px;
color:black;
padding:10px;
margin-left:40%;
}
#box-table-result>#subtext3{
font-size:20px;
color:black;
padding:10px;
margin-left:40%;
}



#text02{
	font-size:40px;
	margin-top:80px;
	margin-bottom:80px;
}




#box2>#box-table-text>#subtext2{
	margin-top:60px;
	margin-left:20px;
}

#box2>#box-table-text>#subtext3{
	margin-left:20px;
	
}

#box2>#box-table-result>#subtext{
	margin-top:60px;
	
}



#box3{
	margin-top:20px;
	margin-bottom:20px;
}


#box3>#box-table-text>#subtext2{
	margin-top:60px;
	margin-left:20px;
}

#box3>#box-table-text>#subtext3{
	margin-left:20px;
}

#box3>#box-table-result>#subtext{
	margin-top:60px;
}


#box4>#box-table-text>#subtext2{
	margin-top:60px;
	margin-left:20px;
}

#box4>#box-table-text>#subtext3{
	margin-left:20px;
}

#box4>#box-table-result>#subtext{
	margin-top:60px;
}














