.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.border-g{
    border: 1px solid var(--semi-green);
    border-radius: 10px;
}

#r-main-container{
    width: 1200px;
    margin: auto;
}

/* 타이틀 */
#r-title{
    margin: 20px 0 10px 0  ;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: var(--serif);
    gap: 10px;
}

#r-title span{
    color: var(--semi-green);
    font-size: 40px;
}

#r-title p{
    font-size: 30px;
    font-weight: 600;
}

/* 서비스정보 */
#r-service-info.flex-col{
    margin: 10px 0;
    padding: 30px;
    border-radius: 10px;
    gap: 10px;
}

#r-service-info h1{
    font-weight: 600;
    font-size: 3em;
}

/* 날짜 선택 */
#r-select-date{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 20px;
}

.grid-c14{grid-column: 1/4;}
.grid-c13{grid-column: 1/3;}
.grid-c12{grid-column: 1/2;}
.grid-c23{grid-column: 2/3;}

.grid-r12{grid-row: 1/2;}
.grid-r23{grid-row: 2/3;}
.grid-r34{grid-row: 3/4;}
.grid-r45{grid-row: 4/5;}

#r-select-date > div > span{
    font-variation-settings:'wght' 500;
}

#r-select-date + div > p{
    margin-left: 5px;
    font-weight: 400;
    font-size: 1.2em;
}

#r-date > p{
    margin: 10px;
    font-size: 1.7em;
    font-weight: 900;
    font-family: var(--serif);
}

#r-back-btn, #r-next-btn{
    width: 50px;
    height: 50px;
    background: none;
    border: none;
}

#r-back-btn span, #r-next-btn span{ 
    font-size: 50px;
}

#date-container{
    margin: 10px 0;
}

#date-container span{
    width: 110px;
    height: 60px;

    display: flex;

    justify-content: center;
    align-items: center;

    font-weight: 400;
}

#date-container span label{
    width: 100%;
    height: 100%;
}

#date-container span label p{
    width: 100%;
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;
}

#date-container span label input[type=radio]{
    display: none;
}

#date-container span label input[type=radio]:checked ~ p{
    color: white;
    background-color: var(--semi-green);
}

#date-container span label:hover p{
    box-sizing: border-box;
    border: 1px solid var(--semi-green);
}

.not-estimate{
    color: lightgray;
    background-color: rgba(128, 128, 128, 0.7);
}

.not-month, .not-estimate{
    pointer-events: none;
}

.not-month p{
    color: lightgray;
}

.not-estimate.not-month{
    background-color: white;
}

#row-1{
    border-bottom: 2px solid var(--semi-green);
}

.col-1{
    color: rgb(200, 0, 0);
}

.col-7{
    color: rgb(0, 0, 200);
}

#btn-select-date{
    display: inline-block;
    width: 100px;
    height: 30px;
    margin: 10px 0px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--semi-green);
    border-radius: 30px;
    font-weight: 600;
}

#btn-select-date:hover{
    background-color: var(--semi-green);
    color: white;
}

#select-check{
    display: none;
}

#select-check:checked ~ #r-date-container #r-select-date{
    display: none;
}

#select-check:checked ~ #r-date-container{
    height: 30px;
    align-items: flex-start;
    
}

#select-check:checked  ~ #r-date-container #r-slect-date-B{
    display: flex;
    gap: 10px;
}

#select-check:checked  ~ #r-date-container #btn-select-date{
    position: absolute;
    margin: 10px 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#r-date-container{
    height: 650px;
    padding: 10px;
    transition: 0.5s;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#r-slect-date-B{
    display: none;
}

#select-check:checked ~ #r-coment{
    opacity: 100;
    height: 450px;
}

#r-coment{
    transition: 0.5s;
    opacity: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#r-coment div.flex-center{
    width: 90%;
    justify-content: start;
    gap: 5px;
}

#r-coment input{
    border: none;
    font-size: 1.5em;
    font-weight: 500;
    font-family: var(--sans);
    background: none;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    margin: 10px 0 20px 0;
    padding: 10px;
}

#r-coment input:hover{
    background-color: var(--semi-green);
    color: white;
}

#r-coment textarea{
    width: 90%;
    height: 60%;
    border: 1px solid lightgray;
    resize: none;
    outline: none;
}

/* ===================================================================================== */
/* success */

#r-success-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding: 50px;
    margin: 20px 0;
}

#r-main-container h1{
    font-weight: 600;
    font-size: 1.5em;
}

#r-main-container hr{
    width: 100%;
    height: 1px;
    background-color: var(--semi-brown);
}

#rs-sub-container{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    row-gap: 15px;
}

#rs-service.flex-center{
    gap: 25px;
    margin: 30px 0;
}

#rs-s-info.flex-col{
    height: 110px;
    justify-content: space-between;
}

#rs-s-img{
    width: 250px;
    height: 150px;
    background-color: gray;
}

#rs-s-img img{
    width: 100%;
    height: 100%;
}

#rs-sc-pay-info.flex-center, h1.flex-center{
    justify-content: flex-end;
}

#rs-title.flex-center{
    gap: 10px;
}

#rs-title span{
    font-size: 2em;
    font-variation-settings:'wght' 600;
    color: var(--semi-green);
}

#rs-si-dobby{
    margin-bottom: 15px;
}

#rs-sc-notice{
    gap: 10px;
    margin: 30px 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.75em;
}

#rs-sc-notice span{
    position: relative;
    left: -10px;
    font-size: 15px;
}

#rs-sub-container a{
    justify-self: end;
    align-self: flex-end;
    width: 200px;
    height: 50px;
}

#r-pay{
    padding: 10px 30px;
    display: flex;
    gap: 100px;
}

#r-pay h1{
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 5px;
}

#r-pay input{
    margin: 0 5px;
    border: none;
    background: none;
    outline: none;
    text-align: right;
    font-size: 1em;
    font-weight: 400;
    width: 100px;
}

#r-pay input[type=number]{
    border-bottom: 1px solid var(--semi-green);
}

#r-pay input[type=text]{
    color: var(--semi-green);
    font-size: 1.2em;
    font-weight: 700;
}