*{
    font-family: var(--sans);
}
.inline-block{
    display: inline-block;
}

.text-green{
    color: var(--semi-green);
}
.text-brown{
    color: var(--semi-brown);
}
.text-light{
    color: lightgrey;
}
.text-white{
    color: white;
}
.text-grey{
    color: grey;
}
.back-green{
    background-color: var(--semi-green);
}
.back-brown{
    background-color: var(--semi-brown);
}
.back-light{
    background-color: lightgrey;
}
.back-white{
	background-color:white;
}
.xl{
    font-size: 18px;
}
.lg{
    font-size: 16px;
}
.md{
    font-size: 14px;
}
.sm{
    font-size: 12px;
}
.xs{
    font-size: 10px;
}

/* 전체 레이아웃 */

#service-wrap{
    width: 1200px;
    height: 2500px;
    display: flex;
    margin: auto;
    margin-top: 50px;
}
#side-content{
    width: 350px;
    height: auto;
    position: sticky;
    top: 50px;
    margin: auto;
    margin-top: 0;
    margin-left: 10px;
}
#main-content{
    width: 830px;
    height: auto;
    margin: auto;
    margin-top: 0;
}

/* 사이드컨텐츠 */
#reservation-box{
    width: 310px;
    height: 360px;
    box-shadow: 0px 4px 4px lightgrey;
    margin: auto;
    padding: 10px;
}
#reservation-content{
    width: 260px;
    height: 170px;
    background-color: white;
    border: 2px solid var(--semi-brown);
    border-radius: 5px;
    background-color: rgb(255, 252, 249);
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
#reservation-content-1{
    height: 30px;
    font-size: 22px;
    color: var(--semi-brown);
    border-bottom: 2px solid var(--semi-brown);
    margin-bottom: 20px;
}
#reservation-content-2{
    height: 80px;
    font-size: 25px;
    font-weight: 700;
}
#reservation-content-3{
    height: 50px;
    font-size: 15px;
    color: rgb(88, 88, 88);
}

#reservation-btn{
    width: 300px;
    height: 60px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}
#service-title{
    height: 40px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.2em;
}
#reservation-btn:hover{
    cursor: pointer;
    background-color: rgb(35, 9, 9);
}

#reserve-info{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 18px;
    margin: auto;
    margin-top: 15px;
    width: 260px;
    height: 60px;
    font-size: 15px;
    color: var(--semi-brown);
}

/* 서비스 사진 */

#service-pic-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    'pic1 pic2'
    'pic1 pic3'
    'pic1 pic4';
    width: 830px;
    height: 450px;
    grid-gap: 5px;
}
#service-pic-container>div{
    border-radius: 10px;
    overflow: hidden;
}
#service-pic1{
    grid-area: pic1;
}
#service-pic2{
    grid-area: pic2;
}
#service-pic3{
    grid-area: pic3;
}
#service-pic4{
    grid-area: pic4;
}

#service-pic-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 서비스 네비바 */
#service-navibar{
    margin-top: 10px;
    top: 48px;
    position: sticky;
    z-index: 999;
    
}
#service-navibar>ul>li>a{
    width: 274px;
    height: 48px;
    border: none;
    margin: auto;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    float: left;
    display: block;
    border: 2px solid var(--semi-green);
    border-bottom: none;
    box-sizing: border-box;
    font-weight: 600;
    

    cursor: pointer;
}


#service-navibar>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* 메인컨텐츠 */
#main-contents{
    width: 810px;
    margin: auto;
    margin-top: 40px;
}
#main-contents>div{
    padding-top: 100px;
    font-size: 20px;
    font-weight: 600;
}
#main-content p{
    font-size: 14px;
   	line-height: 18px;
    font-weight: 400;
    margin-top: 30px;
}


/* 집요정 프로필 */
#helper-profile{
    margin-top: 10px;
    padding: 10px;
    width: 810px;
    height: 180px;
    background-color: white;
    box-shadow: 0 2px 2px lightgrey;
    display: flex;
    justify-content: space-between;
}
#profile-pic-div{
    width: 180px;
    height: 180px;
    border-radius: 5px;
    overflow: hidden;
}
#profile-pic-div>img{
    height: 100%;
    width: 100%;
}
#profile-contents{
    width: 490px;
    height: auto;
}
#profile-btns{
    width: 120px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#profile-btns>button{
    margin-top: 10px;
    border: none;
    width: 80px;
    height: 25px;
    color: white;
    background-color: rgb(161, 161, 161);
}
.hidden-btn1{
    display: none;
}
.hidden-btn2{
    display: none;
}
#profile-contents>h2{
    margin: 10px 0 10px 0;
    font-size:18px;
    font-weight:500;
}
#profile-contents>table{
    font-size: 13px;
    height: 130px;
    border: none; 
    vertical-align: center; 
}
.fixed-text{
    width: 20%;
}
.input-text{
    width: 30%;
    font-size: 13px;
}
#starrr{
    color: rgb(255, 204, 0);
}

#profile-btns>button:hover{
	background-color: rgb(200,200,200);
}
#favorite{
    border: 1px solid lightgrey;
    border-radius: 5px;
    color: red;
    width: 50px;
    text-align: center;
    height: 35px;
    line-height: 25px;
    margin-bottom: 20px;
}
#favor-num{
    color: grey;
    font-size: 14px;
    line-height: 25px;
}

/* 서비스 평가 */
#service-review{
    position: relative;
}

.review-box{
    width: 810px;
    height: 100px;
    margin: auto;
    margin-top: 15px;
}

#review-head{
	height: 30px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid lightgrey;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 14px;
    color: grey;
}
#stars{
    color: rgb(255, 182, 26);
    font-size: 16px;
    width: 300px;
}
#review-content{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    height: 70px;
}
#review-content>p{
    margin: 0;
    padding: 5px 20px;
    color: grey;
}
#review-title{
    margin-left: 20px;
    display: inline-block;
    width: 400px;
}
#review-writer{
    margin-left: 30px;
    text-align: end;
}
#go-board{
    border: none;
    position: absolute;
    right: 0;
    border-radius: 3px;
}
#go-board:hover{
    background-color: rgb(59, 59, 59);
    color: white;
}
.service-pic>img:hover{

    transform: scale(1.05);
    transition: 1s;
}

/* 모달~ */
.modal {
    display: none; 
    position: fixed; 
    z-index: 100000;
    padding-top: 100px;
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* 모달창 이미지 */
  .modal_content {
    margin: auto;
    display: block;
    width: 50%; height: auto;
    max-width: 1000px;
    border-radius: 10px;
    animation-name: zoom;
    animation-duration: 0.8s;
  }
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 120000;
  }
  .close:hover, .close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

.block{
    display: block;
}
#none-h1{
    margin-top: 50px;
    line-height: 150px;
    text-align: center;
    font-weight: lighter;
    background-color: #f7f7f7;
}
#review-cnt-profile{
    color: grey;
    font-size: 13px;
}

.zzim-item-like{
    position: relative;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}

.zzim-item-like input[type=checkbox]{
    display: none;
}

.zzim-item-like label{
    width: 50px;
    height: 50px;
}


.zzim-item-like span{
    color: lightgray;
    font-size: 35px;
    font-variation-settings: 'FILL' 1;
    -webkit-text-stroke: 4px rgb(255, 255, 255);
}

.zzim-item-like label input[type=checkbox]:checked ~ span{
    color: red;
    -webkit-text-stroke: 4px rgb(255, 255, 255);
}

