        #service-registration-wrap *{
   		font-family: var(--sans);
    }
    #service-registration-wrap div{
        vertical-align: middle;
        overflow:hidden;
    }
    #registration-form1 input[type=text]{
        height: 30px;
        width: 94.8%;
        border: 1px solid lightgrey;
    }
        #service-registration-wrap{
        width: 900px;
        height: 1600px;
        border-radius: 10px;
        border: 1px solid rgb(31, 89, 89);
        margin: auto;
        padding: 40px 0 40px 40px;
        margin-top: 50px;
    }
    #registration-title{
        font-size: 25px;
        color: rgb(31, 89, 89);
        font-weight: 700;
        margin-bottom: 70px;

    }
    #registration-form1{
        display: grid;
        grid-template-areas: 
        'a b b c d'
        'e f g h i'
        'e f j k i'
        'l m m m m'
        'n o o t u'
        'p q q t u'
        'r s s t u';
        grid-template-columns: 147px 0.7fr 147px 1fr 1fr;
        grid-template-rows: repeat(27px, 5) 3fr;
        grid-row-gap: 20px;
        width:860px;
    }
    #registration-form1>div{
        font-size: 1rem;
        font-weight: 600;
        line-height: 34px;
        color: rgb(31, 89, 89);
    }
    
    #service-name{
        grid-area: a;
    }
    #service-name-input{
        grid-area: b;
    }
    #service-category{
        grid-area: c;
        margin-left: 30px;
    }
    #service-category-input{
        grid-area: d;
    }
    #profile-pic{
        grid-area: e;
        line-height: 70px;
    }
    #profile-pic-input{
        grid-area: f;
        border: 1px solid lightgrey;
        width: 120px;
        height: 120px;
    }
    #payment-unit{
        grid-area: g;
        margin-left: 20px;
    }
    #payment-unit-input{
        grid-area: h;
    }
    #payment{
        grid-area: j;
        margin-left: 20px;
    }
    #payment-input{
        grid-area: k;
    }
    #payment-method{
        grid-area: i;
        margin-left: 50px;
    }
    #introduction{
        grid-area: l;
    }
    #introduction-input{
        grid-area: m;
    }
    #introduction-input>input{
        width: 96.5%;
    }
    #open-time{
        grid-area: n;
    }
    #open-time-input{
        grid-area: o;
    }
    #close-time{
        grid-area: p;
    }
    #close-time-input{
        grid-area: q;
    }
    #career-years{
        grid-area: r;
    }
    #career-years-input{
        grid-area: s;
    }
    #region{
        grid-area: t;
        margin-left: 30px;
    }
    #region-input{
        grid-area: u;
    }
    #region-input>select{
        width: 210px;
    }
    #service-pic-wrap{
        margin-top: 20px;
    }
    #service-pic-wrap>div:not(:first-child){
        display: inline-block;
        border: 1px solid lightgrey;
    }
    .service-pic-input{
        height: 120px;
        width: 120px;
    }
    #service-pic-detail{
        height: 100px;
        width: 158px;
        padding:10px;
        font-size:12px;
        line-height:15px;
        color:grey;
    }
    
    #registration-button-div{
        width: 400px;
        margin: auto;
        margin-top: 20px;
    }
    #registration-button{
        background-color: rgb(31, 89, 89);;
        height: 50px;
        width: 360px;
        color: white;
        font-size:16px;
        border:none;
    }
    #registration-button:hover{
        background-color: rgb(0, 45, 0);
    }
    .textarea-div{
        display: inline-block;
        width: 690px;
        height: 400px;
    }
    .registration-t2{
        width: 145px;
        font-size: 1rem;
        font-weight: 600;
        color: rgb(31, 89, 89);
        display: inline-block;

    }
    textarea{
        height: 220px;
        width: 678px;
        text-align: top;
        border: 1px solid lightgrey;
        resize: none;
    }
    #service-detail-wrap{
        margin-top: 20px;
    }
    #payment-detail-wrap{
        margin-top: 20px;
    }
    #registration-button{
        border-radius: 5px;
    }
    #checkbox-div{
        height: 100px;
        font-size: 14px;
        line-height:28px;
    }

    input[type=checkbox]{
        width: 16px;
        height: 16px;
        position: relative;
        top: 3px;
        right: 3px;
    }
    input[type=number]{
    	height: 30px;
        width: 84%;
        border: 1px solid lightgrey;
        -webkit-appearance: none;
    }
    input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
	}
    select{
    	width:180px;
    	height:34px;
    	border: 1px solid lightgrey;
    }
    #introduction-input>input{
    width:670px;
    }

    #profile-pic-input>label{
        display: inline-block;
        font-size: 50px;
        line-height: 110px;
        background-color: rgb(237, 242, 237);
        color: var(--semi-green);
        width: 122px;
        height: 122px;
        text-align: center;
        cursor: pointer;
        
    }
    #profile-img{
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect();
        border: 0;
    }
    #service-pic-wrap>div>label{
        display: inline-block;
        font-size: 50px;
        line-height: 110px;
        background-color: rgb(237, 242, 237);
        color: var(--semi-green);
        width: 122px;
        height: 122px;
        text-align: center;
        cursor: pointer;
    }
    #service-pic-wrap>div>input{
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect();
        border: 0;
    }
  
   