#zzim-box{
    width: 100%;
    min-height: 85vh;
    padding: 40px;
}

.zzim-item{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    position: relative;
}

.zzim-item-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-end;
}

#zzim-title{
    padding-bottom: 20px;
    border-bottom: 1px solid var(--semi-green);
    margin-bottom: 50px;
}

.zzim-item-img{
    width: 180px;
    height: 130px;
    background-color: gray;
    border-radius: 10px;
}

.zzim-item-title{
    font-weight: 700;
    font-size: 2em;
    width: 60%;
}

.zzim-item-like{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}

.zzim-item-like input[type=checkbox]{
    display: none;
}

.zzim-item-like label{
    width: 50px;
    height: 50px;
}


.zzim-item-like span{
    color: lightgray;
    font-size: 50px;
    font-variation-settings: 'FILL' 1;
    -webkit-text-stroke: 4px rgb(255, 255, 255);
}

.zzim-item-like label input[type=checkbox]:checked ~ span{
    color: red;
    -webkit-text-stroke: 4px rgb(255, 255, 255);
}

.zzim-item-grade span{
    color: gold;
}

.zzim-item-like label{
    user-select: none;
}